extends ../layout.pug

block main
  include ../includes/books.pug
  h1 #{pageTitle}
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
    each book in books
      tr
        td
          a(href='../books/' + book.id )= book.title
        td= book.author
        td= book.genre
        td= book.first_published
